{%- macro parse_arg(parm, type) %}
{%- if type: %}
{{-     [parm, ": ", type] | join() }}
{%- else: %}
{{-     parm }}
{%- endif %}
{%- endmacro -%}


{%- macro func_args(func_args) %}
{%- set paramlist = ["self"] %}
{%- for parm, type in func_args.items(): %}
{%-     set param_def = parse_arg(parm, type) %}
{%-     set paramlist = paramlist.append( param_def ) %}
{%- endfor -%}
{{- paramlist | join(', ') -}}
{%- endmacro -%}


{%- macro func_typehint(typeHint) %}
{%- if typeHint: -%}
{{-     " -> " }}{{ typeHint }}
{%- endif %}
{%- endmacro -%}


{%- macro function_header(func_data) -%}
{%- set arg_string = func_args(func_data.vars) -%}
{%- set typehint_string = func_typehint(func_data.typeHint) -%}
def {{func_data.name}}({{arg_string}}){{typehint_string}}:
{%- endmacro -%}
