{% import "macro_functionheader.py.j2" as generator -%}
{%- for className, func_list in data.items() -%}
class {{ className }}:
{%- for func, func_data in func_list.items() %}
    {{generator.function_header(func_data) | indent}}
        {{ func_data.body | indent | indent }}
{%-     block func_newline %}{{"\n"}}{% endblock %}
{%- endfor %}
{%- block class_newline %}{{"\n"-}}{% endblock %}
{%- endfor -%}
